<template name="user.update">
    <div class="container">   
        <div class="text-center">
        <h1>Update a current user</h1>
        {{> updateUserForm}}
        </div>
    </div>
</template>
