<template name="override-atNavButton">
    {{#if currentUser }}
        <li><a id="at-nav-button">{{text}}</a></li>
    {{else}}
        <li class="{{isActiveRoute regex='login'}}"><a href="{{pathFor 'login'}}">Login</a></li>
        <li class="{{isActiveRoute regex='register'}}"><a href="{{pathFor 'register'}}">Register</a></li>
    {{/if}}
</template>
