<template name="override-atSignupLink">
    <div class="at-signup-link">
        <p>
        {{preText}}
        <a href="{{pathFor 'register'}}" id="at-signUp" class="at-link at-signup {{disabled}}">{{linkText}}</a>
        {{suffText}}
        </p>
    </div>
</template>
