<template name="override-atTitle">
  <div class="at-title">
      <h3>
          {{#if isActiveRoute regex='login'}}
            Login with your account
          {{else}}
            {{title}}
          {{/if}}
      </h3>
  </div>
</template>
