<template name="override-atPwdFormBtn">
    <button type="submit" class="at-btn submit btn btn-lg btn-block btn-default {{submitDisabled}}" id="at-btn">
        {{#if isActiveRoute regex='login'}}
            Login
        {{else}}
            {{buttonText}}
        {{/if}}
    </button>
</template>
