<template name="override-atSigninLink">
    <div class="at-signin-link">
        <p>
        {{preText}},
        <a href="{{pathFor 'login'}}" id="at-signIn" class="at-link at-signin {{disabled}}">login.</a>
        {{suffText}}
        </p>
    </div>
</template>
