<template name="nav">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class=container>
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
          <ul class="nav navbar-nav">
            <li class="{{isActiveRoute regex='home'}}"><a href="{{pathFor 'home'}}">Home</a></li>
            {{#if isInRole 'admin'}}
              <li class="{{isActiveRoute regex='admin'}}"><a href="{{pathFor 'admin'}}">Admin</a></li>
              <li class="{{isActiveRoute regex='admin/user/insert'}}"><a href="{{pathFor 'admin.user.insert'}}">New User</a></li>
            {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {{#if currentUser }}
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-user"></span> 
                      <strong>{{fullName}}</strong>
                      <span class="glyphicon glyphicon-chevron-down"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li>
                          <div class="navbar-login">
                              <div class="row">
                                  <div class="col-lg-4">
                                      <p class="text-center">
                                          <span class="glyphicon glyphicon-user icon-size"></span>
                                      </p>
                                  </div>
                                  <div class="col-lg-8">
                                      <p class="text-left"><strong>{{fullName}}</strong></p>
                                      <p class="text-left small">{{email}}</p>
                                      <p class="text-left">
                                          <a href="{{pathFor 'user.update'}}" class="btn btn-primary btn-block btn-sm">Profile</a>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li class="divider"></li>
                      <li>
                          <div class="navbar-login navbar-login-session">
                              <div class="row">
                                  <div class="col-lg-12">
                                      <p>
                                          <a href="#" class="btn btn-danger btn-block logout">Logout</a>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
              </li>
              {{/if}}
              {{> atNavButton}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>
