<template name="insertUserForm">
    {{> quickForm collection="Meteor.users" 
    template="bootstrap3-horizontal" 
    label-class="col-sm-3" 
    input-col-class="col-sm-9"
    schema=Schemas.InsertUser id="insertUserForm" type="normal" validation="blur" class="form-horizontal"}}
</template>

<template name="updateUserForm">
    {{> quickForm collection="Meteor.users" 
    template="bootstrap3-horizontal"
    label-class="col-sm-2"
    input-col-class="col-sm-10"
    id="updateUserForm" type="update" doc=user validation="blur" class="form-horizontal"}}
</template>
