<template name="userList">
    <ul>
        {{#each users}}
            {{> user}}
        {{/each}}
    </ul>
</template>

<template name="user">
    <li>{{_id}} - {{firstName}} - {{lastName}} - {{email}} {{roles}} - {{birthDate}} - {{age}}
        <a href="{{pathFor 'admin.user.update'}}/{{_id}}" class="update-user secondary-content"><i class="material-icons">edit</i></a>
        <a href="#" class="delete-user secondary-content"><i class="material-icons">delete</i></a>
    </li>
</template>
