<template name="admin.user.insert">
    <div class="container">   
        <div class="text-center">
        <h1>Insert a new user</h1>
        {{> insertUserForm}}
        </div>
    </div>
</template>
