<template name="admin">
  <div class="container">   
    <div class="text-center">
      <h1>User list</h1>
      <div>
          {{#if Template.subscriptionsReady}}
            {{> userList}}
          {{else}}
            Loading...
          {{/if}}
      </div>
    </div>
  </div>
</template>
